body {
    font-family: Arial, sans-serif;
    background-color: rgb(245, 226, 56);
    margin: 0;
    padding: 0;
    background-image: url(589261.jpg);
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(192, 193, 170);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
}

h1 {
    text-align: center;
}
img{
   max-width: 100%;
   height: auto;
   scale: 100%;
}
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea {
    width: 90%; /* Reduced the width to 80% of the container */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #040506;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ff0000;
}
